{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools-items %}
<li>
  <a href="{% url 'admin:crm_financialtransaction_apply_rules' %}">{% trans "Apply rules to the entire database" %}</a>
</li>
<li>
  <a href="{% url 'admin:crm_financialtransaction_upload_bog' %}">{% trans "Upload Bank of Georgia statement" %}</a>
</li>
<li>
  <a href="{% url 'admin:crm_financialtransaction_upload_liberty' %}">{% trans "Upload Liberty statement" %}</a>
</li>
<li>
  <a href="{% url 'admin:crm_financialtransaction_upload_flowwow' %}">{% trans "Upload Flowwow statement" %}</a>
</li>
{{ block.super }}
{% endblock %}
